body{
font-family:Arial;
margin:0;
background:#f9fafb;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
}

.about,
.skills,
.projects,
.contact{
padding:60px 20px;
text-align:center;
}

.skills-grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skill-card{
background:white;
padding:15px 20px;
border-radius:8px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.project-card{
background:white;
padding:20px;
border-radius:10px;
width:300px;
margin:auto;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}


/*home*/
.hero{
text-align:center;
padding:120px 20px;
background:#ffffff;
}

.tech-icons{
font-size:40px;
display:flex;
justify-content:center;
gap:25px;
color:#4F46E5;
margin-bottom:10px;
}

.welcome{
color:#6366F1;
font-weight:500;
margin-bottom:10px;
}

.hero h1{
font-size:52px;
font-weight:700;
color:#2563eb;
margin:10px 0;
}

.hero h2{
font-size:24px;
color:#374151;
margin-bottom:20px;
}

.hero-desc{
max-width:650px;
margin:auto;
color:#6b7280;
font-size:16px;
}

.hero-buttons{
margin-top:30px;
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.primary-btn{
background:linear-gradient(90deg,#3b82f6,#6366f1);
border:none;
color:white;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
}

.secondary-btn{
background:white;
border:1px solid #e5e7eb;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
}

.social-icons{
margin-top:30px;
font-size:22px;
display:flex;
justify-content:center;
gap:20px;
color:#374151;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
font-size:20px;
font-weight:bold;
color:#3b82f6;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links li{
cursor:pointer;
font-weight:500;
color:#374151;
transition:0.3s;
}

.nav-links li:hover{
color:#3b82f6;
}

/*about*/

.about{
padding:80px 120px;
background:#f9fafb;
}

.section-title{
text-align:center;
font-size:36px;
color:#2563eb;
margin-bottom:60px;
}

.about-container{
display:flex;
gap:60px;
align-items:flex-start;
}

.about-text{
flex:1;
font-size:16px;
color:#374151;
line-height:1.7;
}

.about-cards{
flex:1;
display:flex;
flex-direction:column;
gap:25px;
}

.about-card{
background:white;
padding:25px;
border-radius:12px;
display:flex;
gap:20px;
align-items:flex-start;
box-shadow:0 6px 20px rgba(0,0,0,0.08);
}

.card-icon{
background:linear-gradient(135deg,#3b82f6,#6366f1);
color:white;
font-size:22px;
padding:12px;
border-radius:10px;
}

.cgpa{
color:#2563eb;
font-weight:600;
}

/*skills*/

.skills{
padding:80px 120px;
background:#f9fafb;
}

.section-title{
text-align:center;
font-size:38px;
color:#2563eb;
margin-bottom:50px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}

.skill-card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 6px 18px rgba(0,0,0,0.08);
}

.skill-icon{
background:linear-gradient(135deg,#3b82f6,#6366f1);
color:white;
padding:12px;
border-radius:10px;
width:40px;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
font-size:18px;
}

.skill-card h3{
margin-top: -40px;
font-size:18px;
}

.skill-tags{
display:flex;
flex-wrap:wrap;
gap:10px;
}

.skill-tags span{
background:linear-gradient(135deg,#a6b4cb,#a6a6c4);
color:white;
padding:6px 14px;
border-radius:20px;
font-size:14px;
}

/*projects*/
.projects{
padding:80px 120px;
background:#f9fafb;
}

.project-container{
display:flex;
justify-content:center;
}

.project-card{
width:100%;
max-width:950px;
background:white;
padding:35px;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.project-header{
display:flex;
align-items:center;
gap:20px;
margin-bottom:20px;
}

.project-icon{
background:linear-gradient(135deg,#3b82f6,#6366f1);
color:white;
padding:14px;
border-radius:10px;
font-size:20px;
}

.project-title h3{
margin:0;
font-size:22px;
}

.project-title p{
color:#6b7280;
font-size:14px;
}

.project-link{
margin-left:auto;
color:#6b7280;
cursor:pointer;
}

.project-desc{
color:#374151;
line-height:1.7;
margin-bottom:25px;
}

.features-section h4,
.tech-section h4{
border-left:4px solid #3b82f6;
padding-left:px;
margin-bottom:10px;
}

.features{
display:grid;
gap:8px;
}

.tech-tags{
margin-top: 20px;
gap:10px;
flex-wrap:wrap;
}

.tech-tags span{
background:#f1f5f9;
padding:6px 14px;
border-radius:20px;
font-size:14px;
}

/*certificates*/
.certifications{
padding:80px 120px;
background:#f9fafb;
}

.section-title{
text-align:center;
font-size:38px;
color:#2563eb;
margin-bottom:50px;
}

.cert-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
}

.cert-card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 8px 20px rgba(217, 37, 37, 0.08);
transition:0.3s;
}

.cert-card:hover{
transform:translateY(-5px);
}

.cert-icon{
background:linear-gradient(135deg,#3b82f6,#6366f1);
color:white;
padding:12px;
border-radius:10px;
width:40px;
display:flex;
justify-content:center;
align-items:center;
margin-bottom:15px;
}

.cert-card h3{
font-size:18px;
margin-bottom:5px;
}

.cert-card p{
color:#6b7280;
font-size:14px;
}

/*achievements*/
.achievements{
padding:80px 120px;
background:#f9fafb;
}

.section-title{
text-align:center;
font-size:38px;
color:#2563eb;
margin-bottom:50px;
}

.achievements-container{
display:flex;
flex-direction:column;
gap:25px;
max-width:900px;
margin:auto;
}

.achievement-card{
display:flex;
align-items:center;
gap:20px;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.achievement-icon{
background:linear-gradient(135deg,#3b82f6,#6366f1);
color:white;
padding:14px;
border-radius:10px;
font-size:20px;
}

.achievement-content{
flex:1;
}

.achievement-content h3{
margin-bottom:5px;
font-size:18px;
}

.achievement-content p{
color:#6b7280;
font-size:14px;
}

.achievement-year{
background:#3b82f6;
color:white;
padding:6px 12px;
border-radius:20px;
font-size:14px;
}

/*languages*/
.languages-section{
padding:80px 120px;
}

.language-card{
background:linear-gradient(135deg,#2563eb,#1e40af);
color:white;
padding:35px;
border-radius:14px;
margin-top:20px;
}

.language-header{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
font-size:18px;
}

.language-grid{
display:flex;
gap:20px;
}

.language-box{
background:rgba(255,255,255,0.15);
padding:20px;
border-radius:10px;
flex:1;
}

.language-box h3{
margin-bottom:5px;
}

/*contact*/
.contact{
padding:80px 120px;
background:#f9fafb;
text-align:center;
}

.contact-text{
max-width:600px;
margin:auto;
margin-bottom:40px;
color:#6b7280;
}

.contact-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
margin-bottom:40px;
}

.contact-card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.contact-icon{
font-size:24px;
color:#2563eb;
margin-bottom:10px;
}

.connect-title{
margin-bottom:15px;
}

.social-icons{
display:flex;
justify-content:center;
gap:20px;
font-size:22px;
margin-bottom:30px;
}

.message-btn{
background:linear-gradient(135deg,#3b82f6,#6366f1);
color:white;
border:none;
padding:12px 25px;
border-radius:25px;
cursor:pointer;
font-size:16px;
}